
<div class="row container">
    <h1>Add new image</h1>
    <form class="col s12" method="post" action="/add" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate" name="title" required>
                <label for="title">Title</label>
            </div>
            <div class="input-field col s6">
                <select name="category" id="category" class="validate" required>
                    <option value="" disabled selected>Choose category</option>
                    <option value="Nature">Nature</option>
                    <option value="Water">Water</option>
                    <option value="Travels">Travels</option>
                    <option value="Abstraction">Abstraction</option>
                    <option value="City">City</option>
                    <option value="Anime">Anime</option>
                    <option value="Animals">Animals</option>
                    <option value="Space">Space</option>
                    <option value="Love">Love</option>
                    <option value="Cars">Cars</option>
                    <option value="Words">Words</option>
                    <option value="Others">Others</option>
                </select>
                <label for="category">Category</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <div class="input-field col s6">
                    <input id="price" name="price" type="number" step="any" min="0" max="1000" class="validate">
                    <label for="price">Price</label>
                </div>

                <div class="file-field input-field col s6">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="filedata">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
        </div>



        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>